@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "GothamRegular";
  src: url("../fonts/GothamRegular.ttf");
}
@font-face {
  font-family: "GothamBold";
  src: url("../fonts/GothamBold.ttf");
}
@font-face {
  font-family: "GothamBook";
  src: url("../fonts/GothamBook.ttf");
}
.header {
  background-image: url("../img/header_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 800px;
}
.header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header__bar {
  width: 100%;
  margin: 60px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header__title {
  font-size: 80px;
  letter-spacing: 4px;
  color: #fff;
  font-family: "GothamBold";
  text-align: center;
  text-transform: uppercase;
  margin: 20px auto;
}
.header__desc {
  font-size: 18px;
  letter-spacing: 5px;
  color: #fff;
  font-family: "GothamBold";
  text-align: center;
  text-transform: uppercase;
  margin: 20px auto;
}
.header__nav ul {
  margin-left: -100px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
}
.header__nav ul li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
}
.header__nav ul li a {
  font-size: 14px;
  color: #fff;
  font-family: "GothamRegular";
  text-decoration: none;
  text-transform: uppercase;
}
.header__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.header__socials a {
  font-size: 16px;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-decoration: none;
}

.projects-section {
  width: 100%;
  height: 1640px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.projects-section .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.projects-section .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.projects-section .card__container {
  position: relative;
  width: 100%;
}
.projects-section .card__content {
  width: 600px;
  height: 460px;
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.projects-section .card__mtitle {
  font-size: 22px;
  line-height: 24px;
  color: #2c4058;
  font-family: "GothamRegular";
}
.projects-section .card__title {
  font-size: 48px;
  color: #2c4058;
  font-family: "GothamBold";
}
.projects-section .card__text {
  font-size: 18px;
  line-height: 30px;
  color: #4b5562;
  font-weight: 400;
  font-family: "Open Sans";
}
.projects-section .card__location {
  margin-top: 40px;
  font-size: 18px;
  font-style: italic;
  color: #2c4058;
}
.projects-section .card__btn {
  margin: 20px 0;
}
.projects-section .card__img {
  width: 630px;
  height: 470px;
  background-repeat: no-repeat;
  background-position: top;
}
.projects-section .card__img-left {
  background-image: url("../img/projects_1.png");
}
.projects-section .card__img-right {
  background-image: url("../img/projects_2.png");
}
.projects-section .card__bg {
  height: 470px;
  width: 585px;
  z-index: -1;
  position: absolute;
  top: -60px;
}
.projects-section .card__bg-left {
  background-color: #55b7ff;
  left: 0px;
}
.projects-section .card__bg-right {
  background-color: #7e5aff;
  right: 0px;
}

.news-section {
  width: 100%;
  height: 1035px;
  background-image: linear-gradient(45deg, #3b7fd3 0%, #23cbf9 100%);
}
.news-section .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.news-section .title {
  color: #fff;
}
.news-section .title::before {
  background-color: #fff;
}
.news-section__controls {
  margin-bottom: 100px;
}
.news-section__controls a {
  margin: 0 10px;
}
.news-section__controls a::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
}
.news-section__slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.news-section .item {
  width: 370px;
  height: 510px;
  background-color: #fff;
}
.news-section .item__title {
  font-size: 22px;
  color: #2c4058;
  font-family: "GothamBold";
  text-transform: uppercase;
  margin: 20px 20px;
}
.news-section .item__text {
  margin: 0px 20px;
  font-size: 18px;
  line-height: 30px;
  color: #4b5562;
  font-family: "Open Sans";
}
.news-section .item__img {
  width: 370px;
  height: 240px;
  background-position: center;
}
.news-section .item__author {
  margin: 20px;
}
.news-section .item__user-pic {
  width: 60px;
  height: 60px;
  background-position: center;
  border-radius: 50%;
  float: left;
}
.news-section .item__user-name {
  font-size: 18px;
  font-family: "GothamRegular";
  color: #2c4058;
  text-transform: uppercase;
  margin-left: 80px;
  margin-bottom: 10px;
}
.news-section .item__user-date {
  font-size: 14px;
  font-family: "GothamRegular";
  color: #55b7ff;
  margin-left: 80px;
}
.news-section .item:nth-child(1) .item__img {
  background-image: url("../img/news_1.png");
}
.news-section .item:nth-child(2) .item__img {
  background-image: url("../img/news_2.png");
}
.news-section .item:nth-child(3) .item__img {
  background-image: url("../img/news_3.png");
}
.news-section .item:nth-child(1) .item__user-pic {
  background-image: url("../img/avatar_1.png");
}
.news-section .item:nth-child(2) .item__user-pic {
  background-image: url("../img/avatar_2.png");
}
.news-section .item:nth-child(3) .item__user-pic {
  background-image: url("../img/avatar_3.png");
}

.gallery-section {
  width: 100%;
  height: 1000px;
}
.gallery-section .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.gallery-section__btn {
  margin-top: -50px;
}
.gallery-section .gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.gallery-section .gallery__imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  height: 438px;
  gap: 10px;
}
.gallery-section .gallery__img {
  width: 285px;
  height: 214px;
}
.gallery-section .gallery__img360 {
  width: 580px;
  height: 438px;
  background-image: url("../img/gallery_360.png");
  background-position: center;
}
.gallery-section .gallery__img:nth-child(1) {
  background-image: url("../img/gallery_1.png");
}
.gallery-section .gallery__img:nth-child(2) {
  background-image: url("../img/gallery_2.png");
}
.gallery-section .gallery__img:nth-child(3) {
  background-image: url("../img/gallery_3.png");
}
.gallery-section .gallery__img:nth-child(4) {
  background-image: url("../img/gallery_4.png");
}

.contact-section {
  width: 100%;
  height: 700px;
  position: relative;
}
.contact-section .map {
  width: 100%;
  height: 700px;
  background-image: url("../img/map_placeholder.png");
  background-position: center 65%;
  background-size: cover;
}
.contact-section .form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 770px;
  height: 450px;
  background-color: #fff;
  position: absolute;
  top: 0px;
}
.contact-section .form .title {
  width: 100%;
}
.contact-section .form__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
}
.contact-section .form__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 20px;
}

.footer {
  width: 100%;
  height: 520px;
  background-image: linear-gradient(45deg, #55b7ff 0%, #7d59ff 100%);
}

html, body {
  width: 100%;
  height: auto;
  font-family: "GothamRegular";
}

.container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}

.logo {
  background-image: url("../img/Logo.svg");
  background-position: center;
  width: 240px;
  height: 50px;
}

.title {
  font-size: 44px;
  color: #2c4058;
  font-family: "GothamBold";
  text-align: center;
}
.title::before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  margin: 30px auto;
  background-color: #2c4058;
}

.btn {
  width: 190px;
  padding: 20px;
  box-sizing: border-box;
  color: #2c4058;
  border: 2px solid #2c4058;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background-color: #2c4058;
  color: #fff;
}
.btn:active {
  border-color: #fff;
}

/*# sourceMappingURL=style.css.map */
