.gallery-section {
  width: 100%;
  height: 1000px;
  
  
  .container {
    @include flex(column, space-evenly, center, nowrap);
  }

  &__btn {
    margin-top: -50px;
  }

  .gallery {
    @include flex(row, center, center, nowrap);

    &__imgs {
      @include flex(row, center, center, wrap);
      width: 600px;
      height: 438px;
      gap: 10px;
    }

    &__img {
      width: 285px;
      height: 214px;
    }
    &__img360 {
      width: 580px;
      height: 438px;
      background-image: url('../img/gallery_360.png');
      background-position: center;
    }
    
    &__img:nth-child(1) {background-image: url('../img/gallery_1.png');}
    &__img:nth-child(2) {background-image: url('../img/gallery_2.png');}
    &__img:nth-child(3) {background-image: url('../img/gallery_3.png');}
    &__img:nth-child(4) {background-image: url('../img/gallery_4.png');}
  }
}