@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import 'fonts.scss';
@import 'mixins.scss';
@import 'variables.scss';

@import 'header.scss';
@import 'projects-section.scss';
@import 'news-section.scss';
@import 'gallery-section.scss';
@import 'contact-section.scss';
@import 'footer.scss';


html, body {
  width: 100%;
  height: auto;
  font-family: $font-regular;
}

.container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}

.logo {
  background-image: url('../img/Logo.svg');
  background-position: center;
  width: 240px;
  height: 50px;
}