@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import 'fonts.scss';
@import 'mixins.scss';
@import 'variables.scss';

@import 'header.scss';
@import 'projects-section.scss';
@import 'news-section.scss';
@import 'gallery-section.scss';
@import 'contact-section.scss';
@import 'footer.scss';


html, body {
  width: 100%;
  height: auto;
  font-family: $font-regular;
}

.container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}

.logo {
  background-image: url('../img/Logo.svg');
  background-position: center;
  width: 240px;
  height: 50px;
}

.title {
  font-size: 44px;
  color: $color-dark;
  font-family: $font-bold;
  text-align: center;
  &::before {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    margin: 30px auto;
    background-color: $color-dark;
  }
}

.btn {
  width: 190px;
  padding: 20px;
  box-sizing: border-box;
  color: $color-dark;
  border: 2px solid $color-dark;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $color-dark;
    color: $color-light;
  }

  &:active {
    border-color: $color-light;
  }
}

// .header {display: none;}
// .projects-section {display: none;}
// .news-section {display: none;}
// .gallery-section {display: none;}
// .contact-section {display: none;}
// .footer {display: none;}