.projects-section {
  width: 100%;
  height: 1640px;



  
  .card {
    &__img {
      width: 630px;
      height: 470px;
      background-repeat: no-repeat;
      background-position: top;
    }
    &__img-left { background-image: url('../img/projects_1.png'); }
    &__img-right { background-image: url('../img/projects_2.png'); }
  }
}
